body {
    margin:0;
    background-color: white;
    overflow-x: hidden;/*This is how I solved the problem with the vertical scrollbar showing up when the animation of the image and text occour in the index file -*/

}

.body{
    position: relative;
}


nav {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    transition: background-color .6s, box-shadow .6s;


}


nav ul li {
    list-style-type: none;
    padding: 18px 0 10px 0;
    float: right;


}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: Amatic SC;
    padding: 0px 20px 10px 50px;
    text-decoration: none;

}

.nav-link:hover{
    color: white;
}

.responsive-icon{
    display: none;
}

.side-bar{
    width: 0%;
    display: none;

}


.logo-nav {
    max-width:60px;
    float:left;
    margin: 10px 0 10px 20px;


}

#video-background {
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 100%;
    z-index: -1;

}


.welcome{
  display: flex;
  height: 100vh;
}

.main-text {
  padding: 120px 0 0 40px;;
  margin: 0;
  width: 50%;
}

.main-text h1{
  color: white;
  text-align: center;
  font-family: Poiret One;
}

.main-img{
  padding-top: 50px;
  margin: 0;
  width: 50%;
}

.main-img img{
    width: 300px;
    margin: 0 auto;
    display: block;
}

.container1{
  display: flex;
  margin: 50px auto 200px auto;
  width: 90%;
  font-family: Quicksand;
}
.container1 .left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 .left p{
  font-size: 30px;
}
.container1 .right{
  width: 50%;
}
.container1 .right img{
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
.container2{
  display: flex;
  margin: 100px auto 150px auto;
  width: 90%;
  font-family: Quicksand;
}
.container2 .left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 .left p{
  font-size: 30px;
}
.container2 .right{
  width: 50%;
}
.container2 .right img{
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
.container3{
  position: relative;
  height: auto;
  text-align: center;
}

.container3 p{
  font-size: 45px;
  color: white;
}
.container3 img{
  width: 100%;
}
.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}
.container4{
  position: relative;
}
.video video {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 500px;
    display: block;
    border-radius: 5px;
}
.video h2 {
    text-align: center;
    font-family: Poiret One;
}
.video h1{
    text-align: center;
    font-family: Poiret One;
    font-size: 80px;
    margin-bottom: 50px;
}

footer{
  position: relative;
  bottom: 0;
  height: 100px;
  background-color: #262626;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 780px) {
    body{
        margin: 0;
    }
    nav {
        width: 100%;
    }
    .nav-link{
        display: none;

    }

    .side-bar{
        display: block;
        background-color: rgb(64, 67, 78);
        position: fixed;
        min-height: 100%;
        width: 100%;
        right: -1000px;
        top: 0;
        z-index: 1;
    }

    @keyframes side-bar-animation-in{
        from{right: -1000px;}
        to{right: 0;}
    }
    @keyframes side-bar-animation-out{
        from{right: 0;}
        to{right: -1000px;}
    }
    .side-bar ul{
        position: relative;
        left: 0;
        margin-top: 80px;

    }
    .side-bar ul li{
        list-style: none;
        border: solid 1px white;
        border-radius: 5px;
        width: 90%;
        position: relative;
        left: 0;
        margin: 40px auto;
        padding-left: 10px;
    }

    .nav-link-mobile{

        font-family: Poiret One;
        font-size: 30px;
        color: white;
    }
    .nav-link-mobile:hover{
        text-decoration: none;
        color: white;
    }
    .close-icon{
        display: none;
        font-size: 30px;
        color: white;
        position: absolute;
        right: 20px;
        top: -60px;
        z-index: 10;
        cursor: pointer;
    }

    .responsive-icon{
        display: block;
        font-size: 60px;
        color: white;
        position: fixed;
        right: 15px;
        top: -7px;
        z-index: 10;
        cursor: pointer;
    }

    .logo-nav{
        margin: 5px 0 5px 5px;
        display: block;
    }
    .welcome{
      display: block;
    }
    #video-background{
        height: 80vh;

    }
    .body{
        width: 100%;
    }

    .main-text{
        position: absolute;
        width: 100%;
        left: 0;
    }
    .main-text h1{
        margin: 0 20px;
        font-size: 25px;
    }
    .main-img{
        display: none;
    }
    .container1{
      display: block;

    }
    .container1 .left{
      width: 100%;
    }
    .container1 .right{
      width: 100%;
    }
    .container1 .right img{
      width: 100%;
      margin: 0 auto;
    }
    .container2{
      display: block;
    }
    .container2 .left{
      width: 100%;
    }
    .container2 .right{
      width: 100%;
      margin: 0 auto;
    }
    .container2 .right img{
      width: 100%;
      margin: 0 auto;
    }

    .container3{
      display: block;
      position: relative;
      height: 600px;
      text-align: center;
    }
    .container3 img{
      width: 100%;
    }
    .video{
        width: 100%;
        position: relative;

    }
    .video h1{
        font-size: 35px;
        width: 100%;
    }

    .video video{
        width: 100%;
        height: 200px;
    }


}
