body {
    margin:0; 
    background-color: white;
    overflow-x: hidden;/*This is how I solved the problem with the vertical scrollbar showing up when the animation of the image and text occour in the index file -*/
    
}

.body{
    position: relative;
}


nav {
    width: 100%; 
    position: fixed;
    top:0;
    z-index: 1;
    transition: background-color .6s, box-shadow .6s;
    
    
}


nav ul li {
    list-style-type: none;
    padding: 18px 0 10px 0;
    float: right;


}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: Amatic SC;
    padding: 0px 20px 10px 50px;
    text-decoration: none;

}

.nav-link:hover{
    color: white;
}

.responsive-icon{
    display: none;
}

.side-bar{
    width: 0%;
    display: none;
    
}


.logo-nav {
    max-width:60px;
    float:left;
    margin: 10px 0 10px 20px;
    

}

#video-background {
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    
}




.main-text {
    margin: 0;
    width: 50%;
    position: absolute;
    left: 100px;
    top: 35%;
    
          

}

.main-text h1{
    color: white;
    text-align: center;
    font-family: Poiret One;
}

.main-img{
    margin: 0;
    width: 50%;
    position: absolute;
    right: 0;
    top: 25%;
   

}

.main-img img{
    width: 300px;
    margin: 0 auto;
    display: block;
}

.text-container-first{
    position: absolute;
    top: 700px;
    
    display: none;
    width: 50%;
}
.text-container-first p{
    margin: 12% auto;
    width: 100%;
    font-size: 50px;
    font-family: Poiret One;
    
}

.img-container-first{
    position: absolute;
    top: 700px;
    width: 50%;
    left: -800px;
  
}
.img-container-first img{
    margin: 0 auto;
    width: 90%;
    display:block;
    border-radius: 10px;
}
@keyframes animation-img {
    from{left: -800px;}
    to{left: 0;}
}
@keyframes animation-text {
    from{
        right: -200px;
        position: absolute;
    }
    to{right: 0;}
}

@keyframes animation-text-mobile {
    from{
        left: -150px;
        position: absolute;
    }
    to{right: 0;}
}
.text-container-second{
    position: absolute;
    top: 1300px;
    left: 0;
    width: 50%;
    display: none;
}
.text-container-second p{
    margin: 12% auto;
    width: 80%;
    font-size: 50px;
    font-family: Poiret One;
    
}
.img-container-second{
    position: absolute;
    top: 1300px;
    width: 50%;
    right: 0;
    display: none;
  
}
.img-container-second img{
    margin: 0 auto;
    width: 90%;
    display:block;
    border-radius: 10px;
}
@keyframes animation-text-second{
    from{top:1400px;}
    to{top: 1300px;}
}

@keyframes animation-img-second{
    from{top:1400px;}
    to{top: 1300px;}
}

.video{
    position: absolute;
    margin: 2000px 0px auto;
    display: block;
    width: 100%;
    left: 0;
   
}
.video video {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 500px;
    display: block;
    border-radius: 5px;
}
.video h2 {
    text-align: center;
    font-family: Poiret One;
}
.video h1{
    text-align: center;
    font-family: Poiret One;
    font-size: 80px;
    margin-bottom: 50px;
}
    
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 780px) {
    body{
        margin: 0;
       
        

    }
    nav {
        width: 100%;
        
        
    }
    .nav-link{
        display: none;

    }
    .side-bar{
        display: block;
        background-color: rgb(64, 67, 78);
        position: fixed;
        min-height: 100%;
        width: 0%;
        right: 0;
        top: 0;
        transition: width 1s;
        z-index: 1;
    }
    .side-bar ul{
        position: relative;
        left: 0;
        margin-top: 80px;
        
    }
    .side-bar ul li{
        list-style: none;
        border: solid 1px white;
        border-radius: 5px;
        width: 90%;
        position: relative;
        left: 0;
        margin: 40px auto;
        padding-left: 10px;
    }
    
    .nav-link-mobile{

        font-family: Poiret One;
        font-size: 30px;
        color: white;
    }
    .close-icon{
        display: none;
        font-size: 30px;
        color: white;
        position: absolute;
        right: 20px;
        top: -60px;
        z-index: 10;
    }
    .close-icon:hover{
        color: white;
        text-decoration: none;
    }
    .responsive-icon{
        display: block;
        font-size: 60px;
        color: white;
        position: fixed;
        right: 15px;
        top: -7px;
        z-index: 10;
        
        
    }
    .responsive-icon:hover{
        color: white;
        text-decoration: none;
    }
    .logo-nav{
        margin: 5px 0 5px 5px;
        display: block;
    }
    #video-background{
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        margin: 0;

        
    }
    .body{
        margin-top: -150px;
        width: 100%;
    }
    
 
    .main-text{
        position: absolute;
        width: 100%;
        left: 0;
    }
    .main-text h1{
        margin: 0 20px;
        font-size: 25px;
    }
    .main-img{
        display: none;
    }

    .text-container-first{
        position: relative;
        width: 100%;
    }
    .text-container-first p{
        font-size: 30px;
        text-align: center;
    }
    .img-container-first{
        position: relative;
        width:100%;
    }

    .text-container-second{
        position: relative;
        width: 100%;
    }
    .text-container-second p{
        font-size: 25px;
        text-align: center;
    }
    .img-container-second{
        position: relative;
        width:100%;
    }

    .img-container-second img{
        width: 100%;
    }

    .container-div{
        position: absolute;
        top: -150px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 90%;
        display: block;
        
    }

    .video{
        width: 100%;
        position: relative;
        top: -100px;
        
    }
    .video h1{
        font-size: 35px;
        width: 100%;
    }

    .video video{
        width: 100%;
        height: 200px;
    }

    
}