/*Layout Style*/
body{
    margin: 0;
}

nav {
    background-color: white; /* é a mesma coisa que a função rgb, só que tem aquele "a" no final que serve para ajustar a opacidade!*/
    width: 100%; /* é assim que você coloca a barra de navegação para ocupar a tela toda! */
    padding: 1px;
    position: absolute;
    top:0;
    z-index: 1;
    font-size: 30px;
    font-family: Amatic SC;
    
    
}


nav ul li {
     list-style-type: none;
     display: inline-block;
    border-radius: 3px;
    padding: 18px 0 10px 0;
    float: right;


}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 20px 10px 50px;
    
    
    

}

nav ul li a:hover{
    text-decoration: none;
    color: black;
}


.logo-nav {
    max-width:60px;
    float:left;
    margin: 10px 0 10px 20px;

}
.responsive-icon{
    display: none;
}
#navbarDropdown{
   
}
#dropdown{
    font-size:15px;
    font-family: arial;
    position: absolute;
    min-width:0;
    width: 120px;
}

section {
    text-align: justify;
    padding: 10px;
    font-size: 25px;
    
}

footer {
    margin-top: 50px;
    background-color: black;
    padding-bottom: 100px;
    
   
}
.side-bar{
    width: 0%;
    display: none;
    
}
/*STYLE OF POSTS DISPLAY - INDEX.BLADE.PHP*/
.body{
    margin: 50px auto;
    width: 70%;
    font-family: Quicksand;
}
.body-post{
    margin: 50px auto;
    width: 70%;
    font-family: Quicksand;
}

h2{
    font-family: Quicksand;
    
}
h2 a {
    color: black;
}
h2 a:hover{
    color: black;
}

.post{
    background-color:#D9DBBC;
    height: 200px;
    font-family: Quicksand;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    position: relative;
}
.post-img{
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    
}
.post-img-index{
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.post-text{
    position: absolute;
    width: 70%;
    right: 0;
    padding: 20px;
    
}

/*STYLE OF INDIVIDUAL POST - SHOW.BLADE.PHP*/
.post-header h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
   
}
.post-img-show{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.body-post{
    margin-top: 50px;
}
.post-content{
    margin-top: 50px;
    text-align: justify;
    font-size: 20px;
    font-family: Quicksand;
}
.post-content img{
    margin: 50px auto;
    display: block;
    
}
.body h1{
    text-align: center;
}

.display-comments{
    background-color: rgba(184, 179, 154, 0.808);
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    font-family: Poiret One;
}
.author-comment{
    font-size: 30px;
    font-weight: bold;
}
.content-comment{
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}
.date-comment{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.write-comments{
    color:black;
}


/*Style EDIT PAGE*/
.body-edit{
    margin: 0 auto;
    width: 70%;
}


/*Style CREATE PAGE*/
.body-create{
    margin: 0 auto;
    width: 70%;
}


/*Style ABOUT ME PAGE*/
.my-photo{
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}
.description-about-me h1{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.description-about-me p{
    font-size: 25px;
    text-align: justify;
}
.description-about-me h3{
    margin-top: 70px;
}
.social-contact{
    margin-top: 100px;
    text-align: center;
}
.social-contact a{
    margin-right: 40px;
}
/*Style ABOUT PROJECT PAGE*/

#carousel{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.description {
    margin-top: 30px;
}
.description p {
    font-size:25px;
    text-align: justify;
    margin-top: 50px;
}




.topnav .icon {
display: none;
margin: 10px 20px 0 0;
} 

.topnav .icon:hover {
text-decoration: none;
}
    

@media only screen and (max-width: 780px) {
    body{
        margin: 0;
    }
    nav {
        width: 100%;     
    }
    .nav-link{
        display: none;
    }
    
    .side-bar{
        display: block;
        background-color: rgb(64, 67, 78);
        position: fixed;
        min-height: 100%;
        width: 100%;
        right: -1000px;
        top: 0;
        z-index: 1;
    }

    @keyframes side-bar-animation-in{
        from{right: -1000px;}
        to{right: 0;}
    }
    @keyframes side-bar-animation-out{
        from{right: 0;}
        to{right: -1000px;}
    }
    .side-bar ul{
        position: relative;
        left: 0;
        margin-top: 80px;
        
    }
    .side-bar ul li{
        list-style: none;
        border: solid 1px white;
        border-radius: 5px;
        width: 90%;
        position: relative;
        left: 0;
        margin: 40px auto;
        padding-left: 10px;
    }
    
    .nav-link-mobile{

        font-family: Poiret One;
        font-size: 30px;
        color: white;
    }
    .nav-link-mobile:hover{
        text-decoration: none;
        color: white;
    }
    .close-icon{
        display: none;
        font-size: 30px;
        color: white;
        position: absolute;
        right: 20px;
        top: -60px;
        z-index: 10;
    }
   
    .responsive-icon{
        display: block;
        font-size: 60px;
        color: black;
        position: absolute;
        right: 15px;
        top: -7px;
        z-index: 10;
        
        
    }
    
    .logo-nav{
        margin: 5px 0 5px 5px;
        display: block;
    }

    .body{
        width: 80%;
        
    }
    /*Posts mobile styling*/
    .body-post{
        width: 98%;
        margin: 0 auto;
        display: block;
        padding-top: 10px;
    }
    .post{
        background-color: rgb(229, 231, 203);
        height: 100px;
        font-family: Quicksand;
        border-radius: 5px;
        margin-top: 20px;
        text-align: left;
        position: relative;
    }
    .post-img{
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        
    }
    .post-img-index{
        position: absolute;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        
    }
    
    .post-text{
        position: absolute;
        width: 60%;
        right: 0;
        padding: 0 0 0 5px;
        
    }
    .post-text h2{
        font-size: 15px;
    }
    .post-text p{
        font-size: 12px;
    }

    /*Individual post mobile*/
    .post-header h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
       
    }
    .post-img-show{
        height: 250px;
    }
    .post-content{
        position: relative;
        width: 100%;
        font-size: 15px;
    }
    .post-content img{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .display-comments{
        background-color: rgba(184, 179, 154, 0.808);
        border-radius: 5px;
        margin-top: 30px;
        padding: 10px;
        position: relative;
        font-family: Poiret One;
    }
    .author-comment{
        font-size: 20px;
        font-weight: bold;
    }
    .content-comment{
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .date-comment{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    
    .write-comment{
        width: 100%;
    }
    .comment-textarea{
        width: 100%;
    }

    /*About me mobile styling*/
    .description-about-me h1{
        font-size:40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }
    .description-about-me p{
        font-size: 18px;
        
    }
    
    .social-contact{
        width: 100%;
    }
    .social-contact a{
        margin: 0 10px 0 0;
    }

    /*About project mobile styling*/
    
    #carousel{
        width: 100%;
    }
    .description h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .description p{
        font-size: 18px;
    }
    
}
 